.colorRechazado{
	background-color: red;
}
.colorRevision{
	background-color: yellow;
}
.colorEnProceso{
	background-color: lightgreen;
}
.colorAprobado{
	background-color: green;
}
.colorEnCliente{
	background-color: orange;
}