:root{
	--tit-back-color: #f2f2f2;
	--tit-front-color: rgb(90, 90, 218); 
	--tit-grilla-back-color: #8a8db4;    
	--modal-backdrop-color:  rgba(91, 91, 223, 0.2);
	--division-grilla-cabecera-color:  #8a8db4;
	--division-grilla-detalle-color:  #c7c5c5; 
	--btn-back-color: rgb(2, 2, 199);
	--btn-front-color: white;
	--btn-hover-color: rgb(93, 93, 245);
	--btn-disabled-color: rgb(140, 149, 175);
	--input-color: #141d97;
	--input-error-color: red;
}
/* Estilos generales */

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

h1, h2{
    color: var(--tit-front-color);
    text-align: center;
}

h2{
	margin-top: 0;
	padding: 10px 0  10px;
}

h3{
	margin: 0;
	padding: 5px 0 2px 0 ;
}
.btnGeneral {
	background-color: var(--btn-back-color);
	color: var(--btn-front-color);
	border: none;
	padding: 10px 20px;
	border-radius: 5px;   
    min-width: 120px;
	cursor: pointer;
}

.btnGeneral:hover{
	background-color: var(--btn-hover-color);
}

.btnGeneral:disabled {
	background-color: var(--btn-disabled-color);
}

.grillasStd {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
    margin: 0px;
	font-size: .8rem;
}


/* Estilos del encabezado */

header {
	background-color: var(--tit-back-color);
	padding: 2px 65px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-weight: bold;
	font-size: 30px;
}


/* Estilos de la tabla principal*/
.grilla{
	width: 90%;
    margin-top: 20px;
    margin-left: 5%;
	overflow: auto;
	max-height: 400px ;
}

.titulos-cabecera {
    background-color: var(--tit-grilla-back-color);
	cursor: pointer;
}

tbody tr.detalle {
	/*display: none;*/
	display: table-row;
}

td, th {
	padding: 6px 15px;
	border: 1px solid var(--division-grilla-cabecera-color);
	text-align: left;
}

.main-table [data-name="Det"]{width: 4%;}
.main-table [data-name="Caso"]{width: 7%;}
.main-table [data-name="Alta"]{width: 9%;}
.main-table [data-name="Items"]{width: 5%;}
.main-table [data-name="Datos"]{width: 7%;}
.main-table [data-name="Inicio"]{width: 9%;}
.main-table [data-name="Estado"]{width: 12%;}
.main-table [data-name="Ret"]{width: 3%;}
.main-table [data-name="Cliente"]{width: 29%;}
.main-table [data-name="AccCaso"]{width: 15%;}

/* Estilos de la tabla de detalle */

.detail-table th, .detail-table td {
	padding: 3px 3px 3px 10px;
	border: 1px solid var(--division-grilla-detalle-color);
}

.detail-table th {
	background-color: #f2f2f2;
}

.detail-table [data-name="Producto"]{width: 35%;}
.detail-table [data-name="Color"]{width: 10%;}
.detail-table [data-name="Factura"]{width: 15%;}
.detail-table [data-name="Serie"]{width: 10%;}
.detail-table [data-name="Estado"]{width: 10%;}
.detail-table [data-name="AccItem"]{width: 20%;}


.actions{
	display: flex;
	align-items: center;
	justify-content:center;
}

.colorRechazado{
	background-color: red;
}
.colorRevision{
	background-color: yellow;
}
.colorEnProceso{
	background-color: lightgreen;
}
.colorAprobado{
	background-color: green;
}
.colorEnCliente{
	background-color: orange;
}

/* Cabecera */
.verCabBtn, .dtsOkBtn, .dtsFaltanteBtn, .tglRetiroBtn, .startBtn, .avisoRetiroBtn, .avisoSolicDestrBtn, .recibidoBtn, .destruidoBtn, .showDetail{
	background-color: var(--tit-grilla-back-color);
	color: white;
	border-radius: 25%;
	margin-right: 5px;
}

/* Detalle */
.verBtn, .rechazarBtn, .retirarBtn, .repararBtn, .dineroBtn, .nuevoBtn, .accesorioBtn, .destruirBtn{
	/* background-color: var(--tit-grilla-back-color);
	color: white; */
	border-style: none; 
	border-radius: 25%;
	margin-right: 5px; 
}

